<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Copy of Microsoft All Rules" Description="This rule set contains all rules. Running this rule set may result in a large number of warnings being reported. Use this rule set to get a comprehensive picture of all issues in your code. This can help you decide which of the more focused rule sets are most appropriate to run for your projects." ToolsVersion="12.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C26140" Action="Error" />
    <Rule Id="C28105" Action="Error" />
    <Rule Id="C28132" Action="Error" />
    <Rule Id="C28182" Action="Error" />
    <Rule Id="C28183" Action="Error" />
    <Rule Id="C28196" Action="Error" />
    <Rule Id="C28205" Action="Error" />
    <Rule Id="C28206" Action="Error" />
    <Rule Id="C28211" Action="Error" />
    <Rule Id="C28217" Action="Error" />
    <Rule Id="C28278" Action="Error" />
    <Rule Id="C28286" Action="Error" />
    <Rule Id="C28291" Action="Error" />
    <Rule Id="C28623" Action="Error" />
    <Rule Id="C28639" Action="Error" />
    <Rule Id="C28649" Action="Error" />
    <Rule Id="C28730" Action="Error" />
    <Rule Id="C28750" Action="Error" />
    <Rule Id="C6011" Action="Error" />
    <Rule Id="C6014" Action="Error" />
    <Rule Id="C6063" Action="Error" />
    <Rule Id="C6064" Action="Error" />
    <Rule Id="C6066" Action="Error" />
    <Rule Id="C6067" Action="Error" />
    <Rule Id="C6101" Action="Error" />
    <Rule Id="C6235" Action="Error" />
    <Rule Id="C6236" Action="Error" />
    <Rule Id="C6237" Action="Error" />
    <Rule Id="C6239" Action="Error" />
    <Rule Id="C6240" Action="Error" />
    <Rule Id="C6244" Action="Error" />
    <Rule Id="C6246" Action="Error" />
    <Rule Id="C6258" Action="Error" />
    <Rule Id="C6259" Action="Error" />
    <Rule Id="C6260" Action="Error" />
    <Rule Id="C6268" Action="Error" />
    <Rule Id="C6269" Action="Error" />
    <Rule Id="C6270" Action="Error" />
    <Rule Id="C6271" Action="Error" />
    <Rule Id="C6272" Action="Error" />
    <Rule Id="C6273" Action="Error" />
    <Rule Id="C6274" Action="Error" />
    <Rule Id="C6281" Action="Error" />
    <Rule Id="C6282" Action="Error" />
    <Rule Id="C6284" Action="Error" />
    <Rule Id="C6285" Action="Error" />
    <Rule Id="C6286" Action="Error" />
    <Rule Id="C6287" Action="Error" />
    <Rule Id="C6288" Action="Error" />
    <Rule Id="C6289" Action="Error" />
    <Rule Id="C6290" Action="Error" />
    <Rule Id="C6291" Action="Error" />
    <Rule Id="C6292" Action="Error" />
    <Rule Id="C6293" Action="Error" />
    <Rule Id="C6294" Action="Error" />
    <Rule Id="C6295" Action="Error" />
    <Rule Id="C6296" Action="Error" />
    <Rule Id="C6298" Action="Error" />
    <Rule Id="C6302" Action="Error" />
    <Rule Id="C6303" Action="Error" />
    <Rule Id="C6313" Action="Error" />
    <Rule Id="C6314" Action="Error" />
    <Rule Id="C6315" Action="Error" />
    <Rule Id="C6316" Action="Error" />
    <Rule Id="C6317" Action="Error" />
    <Rule Id="C6319" Action="Error" />
    <Rule Id="C6324" Action="Error" />
    <Rule Id="C6326" Action="Error" />
    <Rule Id="C6329" Action="Error" />
    <Rule Id="C6334" Action="Error" />
    <Rule Id="C6336" Action="Error" />
    <Rule Id="C6384" Action="Error" />
    <Rule Id="C6385" Action="Error" />
    <Rule Id="C6386" Action="Error" />
    <Rule Id="C6504" Action="Error" />
    <Rule Id="C6506" Action="Error" />
    <Rule Id="C6706" Action="Error" />
  </Rules>
</RuleSet>