*.aps
# wpaexporter drops these
*.csv
*.exe
*.exp
*.ilk
*.opensdf
*.sdf
*.suo
*.svg
*.pdb
*.user
# New Visual Studio 2015 intellisense DB files
# http://blogs.msdn.com/b/vcblog/archive/2015/11/11/new-improved-and-faster-database-engine.aspx
*.VC.db
symsrv.yes

# GPUView likes to drop these files when run.
FuncStats.txt
GuidStats.txt
Log.txt
present.txt
*.lastcodeanalysissucceeded

*Generated*

# VS 2015 drops these
*.VC.opendb
/.vs/

# Temporary flamegraph files
flamegraph.txt

#Created by package_etw.bat
etwpackage/
etwpackage.zip
etwsymbols.zip
sourceindex.txt

Debug/
Release/
*DoNotShip/
ipch/
