*.bak
*.aps
# wpaexporter drops these
*.csv
*.etl
*.obj
*.exe
*.exp
*.ilk
*.opensdf
*.pyc
*.sdf
*.suo
*.svg
*.pdb
*.user
# New Visual Studio 2015 intellisense DB files
# http://blogs.msdn.com/b/vcblog/archive/2015/11/11/new-improved-and-faster-database-engine.aspx
*.VC.db
symsrv.yes

# GPUView likes to drop these files when run.
FuncStats.txt
GuidStats.txt
Log.txt
present.txt
*.lastcodeanalysissucceeded

*Generated*

# VS 2015 drops these
*.VC.opendb
.vs/

# Temporary flamegraph files
flamegraph.txt

#Created by package_etw.bat
etwpackage/
etwpackage*.zip
etwsymbols*.zip
sourceindex.txt

Debug/
Release/
*DoNotShip/
ipch/

# Recommended changes for working with nuget packages

# Ignore NuGet Packages
*.nupkg

# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*

# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/

# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config

# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Ignore other intermediate files that NuGet might create. project.lock.json is used in conjunction
# with project.json (NuGet v3); project.assets.json is used in conjunction with the PackageReference
# format (NuGet v4 and .NET Core).
project.lock.json
project.assets.json
