<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Windows.EventTracing.BootPrefetch" version="0.3.1" targetFramework="net472" />
  <package id="Microsoft.Windows.EventTracing.Cpu" version="0.3.1" targetFramework="net472" />
  <package id="Microsoft.Windows.EventTracing.Disk" version="0.3.1" targetFramework="net472" />
  <package id="Microsoft.Windows.EventTracing.Events" version="0.3.1" targetFramework="net472" />
  <package id="Microsoft.Windows.EventTracing.Graphics" version="0.3.1" targetFramework="net472" />
  <package id="Microsoft.Windows.EventTracing.HyperV" version="0.3.11" targetFramework="net472" />
  <package id="Microsoft.Windows.EventTracing.Memory" version="0.3.1" targetFramework="net472" />
  <package id="Microsoft.Windows.EventTracing.Metadata" version="0.3.1" targetFramework="net472" />
  <package id="Microsoft.Windows.EventTracing.Network" version="0.3.1" targetFramework="net472" />
  <package id="Microsoft.Windows.EventTracing.Power" version="0.3.1" targetFramework="net472" />
  <package id="Microsoft.Windows.EventTracing.Processes" version="0.3.1" targetFramework="net472" />
  <package id="Microsoft.Windows.EventTracing.Processing" version="0.3.2" targetFramework="net472" />
  <package id="Microsoft.Windows.EventTracing.Processing.All" version="0.3.2" targetFramework="net472" />
  <package id="Microsoft.Windows.EventTracing.Processing.Community" version="0.3.1" targetFramework="net472" />
  <package id="Microsoft.Windows.EventTracing.Processing.Toolkit" version="0.2.0" targetFramework="net472" />
  <package id="Microsoft.Windows.EventTracing.Regions" version="0.3.1" targetFramework="net472" />
  <package id="Microsoft.Windows.EventTracing.Registry" version="0.3.1" targetFramework="net472" />
  <package id="Microsoft.Windows.EventTracing.ScheduledTasks" version="0.3.11" targetFramework="net472" />
  <package id="Microsoft.Windows.EventTracing.Services" version="0.3.1" targetFramework="net472" />
  <package id="Microsoft.Windows.EventTracing.Syscalls" version="0.3.11" targetFramework="net472" />
  <package id="Microsoft.Windows.EventTracing.Utc" version="0.3.1" targetFramework="net472" />
  <package id="Microsoft.Windows.EventTracing.WindowInFocus" version="0.3.11" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net472" />
</packages>